#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(44, 44, 44);
    min-height: 2em;
    width: 100%;
    position: fixed;
    padding: 0.5em 0
}

#menu >*{
    color: rgba(0, 255, 200, 0.692);
    font-weight: bold;
}